### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df= pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# Get total player count
total_players = purchase_data_df["SN"].unique()
total_players = len(total_players)
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Get number of unique items
unique_items=len(purchase_data_df["Item ID"].unique())

#Get the average price of an item
avg_price = purchase_data_df["Price"].mean()

#Get the number of purchases
total_purchases = purchase_data_df["Purchase ID"].count()

#Get the total revenue
total_revenue = purchase_data_df["Price"].sum()

#Show summary table
purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items": unique_items, "Average Price": avg_price, "Number of Purchases": total_purchases, "Total Revenue": total_revenue}])
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df

#Spruce up the table
purchasing_analysis_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]].style.hide_index().set_properties(subset=["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"], **{'text-align': 'center'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Group by gender
mf_stats = purchase_data.groupby("Gender")

#Get total users by gender
mf_count = mf_stats.nunique()["SN"]

#Get demographic percentage breakdown
percentage = mf_count / total_players * 100

#Create the dataframe
mf_demo = pd.DataFrame({"Percentage of Players": percentage, "Total Count": mf_count})

#Spruce up the table (remove index heading and move decimal places)
mf_demo["Percentage of Players"] = mf_demo["Percentage of Players"].map("{:,.2f}%".format)
mf_demo.index.name = None

mf_demo

                      Percentage of Players  Total Count
Female                               14.06%           81
Male                                 84.03%          484
Other / Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

# * Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Get total purchases by gender 
purchase_count = mf_stats["Purchase ID"].count()

#Get average purchase price by gender
avg_purchase_price = mf_stats["Price"].mean()

#Get average purchase total by gender 
avg_purchase_total = mf_stats["Price"].sum()

#Get average purchase per person
avg_purchase_per_person = avg_purchase_total/mf_count

#Create dataframe
mf_demo = pd.DataFrame({"Purchase Count": purchase_count, 
                        "Average Purchase Price": avg_purchase_price,
                        "Average Purchase Value":avg_purchase_total,
                        "Avg Purchase Total per Person": avg_purchase_per_person})

#Assign index as gender
mf_demo.index.name = "Gender"

# Format the numbers
mf_demo.style.format({"Average Purchase Value":"${:,.2f}",
                    "Average Purchase Price":"${:,.2f}",
                    "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#Set bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

#Break out the age values and store them in the defined bins              
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels = age_groups)
              
#Create dataframe for Age Group
ages_grouped = purchase_data.groupby("Age Group")
              
#Count players by their ages
total_age_count = ages_grouped["SN"].nunique()
              
#Get percentage ofplayers by age
percent_of_players_age = (total_age_count/total_players) * 100
              
#Create dataframe
age_demo = pd.DataFrame({"Percentage of Players":percent_of_players_age, "Total Count": total_age_count})

#Remove index
age_demo.index.name = None

#Format percent to two decimal places
age_demo.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Get the purchase count by age group
purchase_count_by_age = ages_grouped["Purchase ID"].count()

#Get avg purchase price
avg_purchase_price_by_age = ages_grouped["Price"].mean()

#Get total purchase value
total_purchase_value_by_age = ages_grouped["Price"].sum()

#Get average purchase per person
avg_total_purchase_per_person_by_age = total_purchase_value_by_age / total_age_count

#Create dataframe
age_demo = pd.DataFrame({"Purchase Count": purchase_count_by_age,
                        "Average Purchase Price": avg_purchase_price_by_age,
                        "Total Purchase Value": total_purchase_value_by_age,
                        "Average Purchase Total per Person": avg_total_purchase_per_person_by_age})
age_demo.style.format({"Average Purchase Price":"${:,.2f}",
                     "Total Purchase Value":"${:,.2f}",
                     "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Sort purchasing data by screennames
spender_deets = purchase_data.groupby("SN")

#Get total purchases by screenname
count_spender = spender_deets["Purchase ID"].count()

#Get average purchases by screenname
avg_purchase_price_spender = spender_deets["Price"].mean()

#Get purchase totals
total_purchase_spender = spender_deets["Price"].sum()

#Create dataframe
all_spenders = pd.DataFrame({"Purchase Count": count_spender,
                            "Average Purchase Price": avg_purchase_price_spender,
                            "Total Purchase Value":total_purchase_spender})
#Sort descending
top_spenders = all_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

#Format numbers
top_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                            "Average Purchase Price":"${:,.2f}", 
                            "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
#Define new dataframe
items = purchase_data[["Item ID", "Item Name", "Price"]]

#Group item sales
item_sales = items.groupby(["Item ID","Item Name"])

#Get count of purchases per item
purchase_count_item = item_sales["Price"].count()

#Get total purchase value for items
total_purchase_value_item = (item_sales["Price"].sum())

#Get each item price
item_price = total_purchase_value_item/purchase_count_item

#Create dataframe
popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                             "Item Price": item_price,
                             "Total Purchase Value":total_purchase_value_item})

#Sort data to get top 5 items
most_popular_items = popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format numbers
most_popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
#Recycle popular items dataframe and just run to find greatest purchase value
most_popular_items = popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

#Format numbers
most_popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})